@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 8% 97%;
    --white: 0 0% 100%;
    --darkgrey: 240 52% 16%;
    --lightgrey: 240 14% 41%;
    --darkblue: 195 57% 33%;
    --lightblue: 194 81% 96%;
    --thumbborder: 195 83% 60%;
    --thumbbackground: 194 81% 96%;
    --blue: 196 84% 87%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: "Inter Tight", sans-serif;
  }
  body {
    @apply bg-background text-darkgrey;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .separator::after {
    content: "|";
    position: absolute;
    top: 36px;
    right: 0px;
    @apply text-blue;
  }
  .bullets::after,
  .bullets::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .bullets::before {
    @apply bg-thumbborder;
  }
  .bullets::after {
    right: 0px;
    @apply bg-thumbbackground;
  }
}
